<app-navbar></app-navbar>
<br>
<br>

<body>
<div class="outer" >
    <div class="container"  >
        <div class="row" >
           
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="class panel-heading">
                     <h3 class="pt-2 front-weight-bold" align="center">Login</h3>
                    </div>
                    <div class="panel-body p-"  >
                        <form [formGroup]="loginForm">
                           <div class="form-group pt-3" >
                            <div class="input-field" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="email" id="email" type="text" placeholder="Email" required="email">
                            </div>
                           </div>
                           <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger"> *Email is required</small>
                          
                          
                           <div class="form-group pt-3"> 
                            <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                <span class="fa fa-lock"></span>
                                    <input formControlName="password" id="password"  type="password" placeholder="password" required="password"     >
                                <!-- <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span> -->
                            </div>
                           </div>
                           <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"class="text-danger">*password is required </small>
                           
                           
                           <div class="form-inline fr mt-4">
                            <a id="forget"routerLink="/Forget">Forget password?</a>
                           </div>
                           <button type="button" class="btn btn-primary btn-block mt-4 w-100" id="loginbutton" (click)="OnSubmit()" >Login</button>
                           <!-- <div class="text-center pt-4 text-muted">Don't have Account? <a id="forget" routerLink="/Register">Sign Up</a></div> -->
                        </form>
                    </div>
                    <br>
                </div> 
            </div>
        </div>
    </div>
</div>
</body>


